OPENAI_API_KEY=

MODEL_NAME=gpt-4o-mini

LANGFUSE_PUBLIC_KEY=pk-lf-1dbcdbe1-a9b5-4bbd-a3e1-0db80685eb1e
LANGFUSE_SECRET_KEY=sk-lf-494ffa30-70f9-4c36-af19-ae5bf5051b66
LANGFUSE_BASE_URL=https://cloud.langfuse.com
LANGFUSE_PROMPT_LABEL=production
LANGFUSE_DEFAULT_USER_ID=denys
LANGFUSE_ENVIRONMENT=development
LANGFUSE_DEFAULT_TAGS=multi-agent-research,hw12

LANGFUSE_PLANNER_PROMPT_NAME=mas-planner-system
LANGFUSE_RESEARCHER_PROMPT_NAME=mas-researcher-system
LANGFUSE_CRITIC_PROMPT_NAME=mas-critic-system
LANGFUSE_SUPERVISOR_PROMPT_NAME=mas-supervisor-system
LANGFUSE_REPORT_REVISION_PROMPT_NAME=mas-report-revision-system
